.app {
	height: 100%;

	&__navbar-wrapper {
		position: absolute;
		width: 100%;
		top: 0;
	}

	&__main-content-wrapper {
		height: calc(100% - 8rem);
		width: 100%;
		position: absolute;
		margin-top: 8rem;
	}
}

// Reusable classes

.section-heading {
	display: inline-block;
	color: var(--selected-theme-sub-text-color);
	font-size: 2.2rem;
	font-weight: 600;
	line-height: 1rem;
	letter-spacing: 0.5px;
	position: relative;
	text-transform: uppercase;
	padding: 0.5rem 1rem;
	border-bottom: 2px solid var(--selected-theme-main-color);
	overflow: hidden;

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 2px;
		height: 5px;
		background-color: var(--selected-theme-main-color);
		bottom: -2px;
	}

	&::before {
		left: 1px;
		transform: rotate(45deg);
	}

	&::after {
		right: 1px;
		transform: rotate(-45deg);
	}
}

.primary-btn {
	cursor: pointer;
	padding: 10px 70px;
	font-size: 2rem;
	background: transparent;
	color: var(--selected-theme-main-color);
	border: 1.5px solid var(--selected-theme-main-color);
	border-radius: 4px;
	font-weight: 500;

	&:hover {
		color: var(--black-color);
		background: var(--selected-theme-main-color);
	}
}

.secondary-btn {
	cursor: pointer;
	padding: 1rem 7rem;
	font-size: 2rem;
	background-color: transparent;
	color: var(--selected-theme-sub-text-color);
	border: 1.5px solid var(--selected-theme-sub-text-color);
	border-radius: 4px;
	font-weight: 500;
}
